<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>Frostyard</vendor>
  <vendor_url>https://github.com/frostyard/chairlift</vendor_url>
  <icon_name>org.frostyard.ChairLift</icon_name>

  <action id="org.frostyard.ChairLift.ublue.channel-switch">
    <description>Switch the system release channel</description>
    <message>Authentication is required to switch the system release channel</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">channel-switch</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.dx-enable">
    <description>Enable developer mode</description>
    <message>Authentication is required to enable developer mode</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">dx-enable</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.dx-disable">
    <description>Disable developer mode</description>
    <message>Authentication is required to disable developer mode</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">dx-disable</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.restart">
    <description>Restart the system</description>
    <message>Authentication is required to restart the system</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">restart</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.rollback">
    <description>Roll back to the previous system image</description>
    <message>Authentication is required to roll back to the previous system image</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">rollback</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.auto-updates-enable">
    <description>Enable automatic background updates</description>
    <message>Authentication is required to enable automatic background updates</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">auto-updates-enable</annotate>
  </action>

  <action id="org.frostyard.ChairLift.ublue.auto-updates-disable">
    <description>Disable automatic background updates</description>
    <message>Authentication is required to disable automatic background updates</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/chairlift-ublue-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">auto-updates-disable</annotate>
  </action>

</policyconfig>
